# Uncomment to run in the background. Note that in daemonized mode, all filenames
# are relative to an undefined directory, so you should use absolute paths for
# error_log, stats_file, etc.

#daemonize

# For low-traffic servers (less than a gigabit or two), num_servers 1 is fine.
# For best performance in high-traffic situations, you want one for each CPU.
num_servers 1

#
# All input ports are treated exactly the same, but you may use multiple ones nevertheless.
#
port 9094
# listen 127.0.0.1:9095
# listen [::1]:9095

stats_file cubemap/cubemap.stats
stats_interval 10

input_stats_file cubemap/cubemap-input.stats
input_stats_interval 60

# Logging of clients as they disconnect (and as such as no longer visible in the stats file).
# You can only have zero or one of these.
access_log cubemap/access.log

# Logging of various informational and error messages. You can have as many of these as you want.
error_log type=file filename=cubemap/cubemap.log
error_log type=syslog
error_log type=console

#
# now the streams!
#
