<html>
    <head>
        <title>Televisiõn</title>
        <meta charset="utf-8">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div>
            <h1> {{ .Title }} </h1>
        </div>
        <div>
            <p>Hei, slå av når du er ferdig da</p>
        </div>
        <div>
        <table>
            <tr>
                <th></th>
                <th>Kanal</th>
                <th></th>
                <th></th>
            </tr>
            {{range $index, $key := .Channels }}
                <tr>
                    <td>{{ $index }}</td>
                    <td>{{ $key.Name }}</td>
                {{ if $key.Running }}
                    <td>
                        <form action="/tv" method="post">
                            <input type="hidden" name="kill" value={{ $index }} /> 
                            <button>Kill it</button>
                        </form>
                    </td>
                    <td>
                        <a href="http://hoftun.mg.am:{{ $key.Outgoing }}">
                        Kopier meg, {{ $key.Views }} seer(e)
                        </a>
                    </td>
                {{ end }}
                {{ if not $key.Running }}
                    <td>
                        <form action="/tv" method="post">
                            <input type="hidden" name="channel" value={{ $index }} /> 
                            <button>Start</button>
                        </form>
                    </td>
                {{ end }}
                </tr>
            {{end}}
            </table>
        </div>
    </body>
</html>
