<html>
  <head>
    <title>{{.User}} :: {{ .CurrentChannel }} :: teve</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="refresh" content="60; url=./uni?user={{.User}}&refresh=1">
  </head>
  <body>
  {{if .Users}}
    <p><b>No user selected.</b> Please choose below:</p>
    <ul>
    {{range .Users}}
      <li><a href="./uni?user={{.Name}}">{{.Name}}</a><br /></li>
    {{end}}
    </ul>
  {{else}}
    <h3>Hello {{.User}}</h3>
    <hr>
    <p>There are currently <b>{{.Viewers}}</b> active viewer(s).</p>
    <p>Old recordings are available <a href="./{{.RecordingsFolder}}">here.</a>
    <hr>
    <p>You are playing: <b>{{.CurrentChannel}}</b>
      {{if .Running }}
        (<a href="./uni?user={{.User}}&kchannel=1">Kill stream</a>)
        <form action="./uni" method="get">
          <b>Set transcoding: </b>
          <input type="hidden" name="user" value="{{.User}}">
          <input type="hidden" name="channel" value="{{.CurrentChannel}}">
          <input type="text" name="transcoding" value="{{.Transcoding}}">
          <input type="submit" value="Set"></input>
        </form>
        <em>(0 for no transcoding enabled)</em>
        <hr>
        <p>Your URL is: <a href="{{.URL}}"><b><em>{{.URL}}</em></b></a></p>
        <hr>
      {{end}}
      {{if .Recordings}}
      <p>Your recordings</p>
      <ul>
      {{range .Recordings}}
        <li><b>{{.Start}}=>{{.Stop}}</b>: {{.Title}}</li>
      {{end}}
      </ul>
      {{end}}
    </p>
    <p>Channel to be broadcasted on your stream:</p>
    <ul>
      {{$user := .User}}
      {{$transcoding := .Transcoding}}
      {{range .Channels}}
      <li>
        <a href="./uni?user={{$user}}&channel={{.Name}}&transcoding={{$transcoding}}">{{.Name}}</a>
        <ul>
          {{$channel := .}}
          {{range $index, $epg := .EPGlist}}
          <li>
          {{if not $index}}<b>{{end}}
            (<a href="/record?user={{$user}}&start={{.StartLong}}&stop={{.StopLong}}&title={{.Title}}&channel={{$channel.Name}}&transcode={{$transcoding}}">R</a>) 
              {{.Start}} => {{.Stop}}: {{.Title}}</li>
          {{ if not $index}}</b>{{end}}
          {{end}}
        </ul>
      </li>
      {{end}}
    </ul>
  {{end}}
  </body>
</html>
