<html>
  <head>
    <title>{{.User}} :: {{ .CurrentChannel }} :: teve</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./static/pure-min.css">
    <link rel="stylesheet" href="./static/styles.css">
    <meta http-equiv="refresh" content="60; url={{.BaseUrl}}uni?user={{.User}}&refresh=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
  {{$base := .BaseUrl}}
  {{if .Users}}
    <p><b>No user selected.</b> Please choose below:</p>
    <ul>
    {{range .Users}}
      <li><a href="{{$base}}uni?user={{.Name}}">{{.Name}}</a><br /></li>
    {{end}}
    </ul>
  {{else}}
  <div class="home-menu pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
    <a class="pure-menu-heading" href="{{$base}}uni?user={{.User}}&refresh=1">teve</a>
    <ul>
      {{if .Running}}
      <li><span>Playing <b>{{.CurrentChannel}}</b></span></li>
      <li><a href="{{$base}}uni?user={{.User}}&kchannel=1" class="pure-button button-red">Kill</a></li>
      <li><a href="#" class="pure-button button-lblue">{{.Viewers}} viewers</a></li>
      {{end}}
      <li><a class="pure-button button-green" href="{{$base}}archive">Go to archive</a></li>
      <li><span>Welcome {{.User}}!</span></li>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="content">
      {{if .Running }}
        <form action="{{$base}}uni" method="get" class="pure-form">
          <fieldset>
            <legend>Set transcoding in <b>kbit/s</b>. Transcoded with <b>mp2v</b> and scaled <b>0.7</b></legend>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <input type="hidden" name="user" value="{{.User}}">
                <input type="hidden" name="channel" value="{{.CurrentChannel}}">
                <input type="text" id="transcoding" class="pure-input-1" name="transcoding" value="{{.Transcoding}}">
              </div>
              <div class="pure-u-1-2">
                <input type="submit" class="pure-button button-yellow set-button" value="Set"></input>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="bs-callout bs-callout-danger">
        <h4>Play in VLC?</h4>
        <p>Your URL is: <a href="{{.URL}}"><em>{{.URL}}</em></a></p>
        <p><a href="{{$base}}vlc?url={{.URL}}" target="_blank">Click here</a> to play in your browser (requires <a href="http://www.videolan.org/vlc/#download">VLC-plugin</a> and opens new tab/window)</p>
        </p>
        </div>
      {{end}}
      {{if .Recordings}}
      <h3 class="underlined">Your recordings</h3>
      <ul>
      {{$user := .User}}
      {{range .Recordings}}
      <li><b>{{.Start}}=>{{.Stop}}</b>: {{.Title}} (<a href="./stopRecording?id={{.Id}}&username={{$user}}">Stop/delete</a>)</li>
      {{end}}
      </ul>
      {{end}}
    </p>
    <h2 class="underlined">Select channel</h2>
      {{$user := .User}}
      {{$transcoding := .Transcoding}}
      {{range .Channels}}
        <div class="channel">
          <a href="{{$base}}uni?user={{$user}}&channel={{.Name}}&transcoding={{$transcoding}}"><b>{{.Name}}</b></a>
          <a href="{{$base}}uni?user={{$user}}&channel={{.Name}}&transcoding={{$transcoding}}" class="pure-button button-green right">Play</a>
        </div>
        {{if not .EPGlist}}
        <p>No EPG data found.</p>
        {{else}}
        <table class="pure-table programme-list">
            {{$channel := .}}
            {{range $index, $epg := .EPGlist}}
            <tr class="{{if not $index}}header{{end}}">
              <td>
                <a href="{{$base}}record?user={{$user}}&start={{.StartLong}}&stop={{.StopLong}}&title={{.Title}}&channel={{$channel.Name}}&transcode={{$transcoding}}">R</a>
              </td>
              <td>{{.Start}}</td>
              <td>{{.Stop}}</td>
              <td>{{.Title}}</td>
            </tr>
            {{end}}
        </table>
        {{end}}
      {{end}}
      <br />
  </div>
  {{end}}
  </body>
</html>
