<html>
  <head>
    <title>{{if .CurrentChannel}}{{ .CurrentChannel }}{{else}}-{{end}} :: {{.User}} :: teve</title>
    <link rel="icon" href="{{.BaseUrl}}static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{.BaseUrl}}static/pure-min.css">
    <link rel="stylesheet" href="{{.BaseUrl}}static/styles.css">
    <meta http-equiv="refresh" content="180; url={{.BaseUrl}}">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script>
      var toggle = function(elem){
        var row = elem.parentElement.parentElement;
        var descr = row.nextSibling.nextSibling;
        if (descr.style.display == "none"){
          descr.style.display = "";
        } else {
          descr.style.display = "none"
        }
      }
    </script>
  </head>
  <body>
  {{$base := .BaseUrl}}
  <div class="home-menu pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
    <a class="pure-menu-heading" href="{{$base}}">teve</a>
    <ul>
      {{if .Running}}
      <li><span>Spiller <b>{{.CurrentChannel}}</b></span></li>
      <li><a href="{{$base}}?kchannel=1" class="pure-button button-red">Stopp</a></li>
      <li><a href="#" class="pure-button button-lblue">{{.Viewers}} seere</a></li>
      {{end}}
      <li><a class="pure-button button-green" href="{{$base}}archive">Gå til arkiv</a></li>
      <li><span>Velkommen {{.User}}!</span></li>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="content">
      {{if .Running }}
        <div class="bs-callout bs-callout-danger">
          <h4>Spill av i VLC?</h4>
          <p>Din URL er: <a href="{{.URL}}"><em>{{.URL}}</em></a></p>
          <p><a href="{{$base}}vlc?url={{.URL}}" target="_blank">Trykk her</a> for å spille i nettleseren din (Du behøver en <a href="http://www.videolan.org/vlc/#download">VLC-plugin</a> og lenken blir åpnet i ny tab/vindu)</p>
          </p>
        </div>
        <form action="{{$base}}" method="get" class="pure-form">
          <h2 class="underlined">Transkoding</h2>
          <p>Transkoding i <b>kbit/s</b>, dvs. lavere tall gir dårligere kvalitet. Transkodet med <b>mp2v</b> og skalert med faktor på <b>0.7</b>.
             0 kbit/s er det samme som ingen transkoding.</p>
          <div class="pure-g">
            <div class="pure-u-1-2">
              <input type="hidden" name="channel" value="{{.CurrentChannel}}">
              <input type="text" id="transcoding" class="pure-input-1" name="transcoding" value="{{.Transcoding}}">
            </div>
            <div class="pure-u-1-2">
              <input type="submit" class="pure-button button-yellow set-button" value="Lagre"></input>
            </div>
          </div>
        </form>
      {{end}}
    </p>
    <form action="./external" method="get" class="pure-form">
      <h2 class="underlined">Strøm-parametere / spill av manuelt</h2>
      <div class="pure-g">
        <div class="pure-u-1-6">
          <input type="text" name="name" class="pure-input-1" value="{{.CurrentChannel}}" placeholder="Navn (valgfritt)" />
        </div>
        <div class="pure-u-1-3" style="margin-left: 10px">
          <input type="text" name="url" class="pure-input-1" value="{{.CurrentAddress}}" placeholder="URL" />
        </div>
        <div class="pure-u-1-6">
          <input type="submit" class="pure-button button-yellow set-button" value="Spill av" />
        </div>
      </div>
    </form>

    {{if .Recordings}}
    <h2 class="underlined">Planlagte opptak</h2>
    <ul>
    {{$user := .User}}
    {{range .Recordings}}
    <li><b>{{.Start}}=>{{.Stop}}</b>: <em>{{.Title}}</em> på {{ .Channel }}
    av {{ .User }} med transkoding: {{ .Transcoding }} (<a href="./stopRecording?id={{.Id}}&username={{$user}}">Stopp/slett</a>)</li>
    {{end}}
    </ul>
    {{end}}

    {{if .Subscriptions}}
    <h2 class="underlined">Dine abonnement</h2>
    <ul>
    {{range .Subscriptions}}
    <li><em>{{.Title}}</em> hver {{.Weekday}} rundt {{.StartTime}}:00 (<a href="./deleteSubscription?id={{.Id}}">Slett</a>)</li>
    {{end}}
    </ul>
    {{end}}

    <h2 class="underlined">Start nytt abonnement</h2>
    <p>Automatisk ta opp dine favorittprogrammer, og lagre dem i arkivet – hver
    uke. Velg programnavn, kanal, hvilken dag det går og ca. når programmet
    starter.</p>
    <form action="./startSubscription" method="get" class="pure-form">
      <div class="pure-g">
        <div class="pure-u-1-6">
          <select name="title" class="pure-input-1">
              {{range .Programs}}
                  <option>{{.}}</option>
              {{end}}
          </select>
        </div>
        <div class="pure-u-1-12 set-button">
          <select name="channel" class="pure-input-1">
            {{range .Channels}}
              <option>{{.Name}}</option>
            {{end}}
          </select>
        </div>
        <div class="pure-u-1-12 set-button">
          <select name="weekday" class="pure-input-1">
              <option value="1">Mandager</option>
              <option value="2">Tirsdager</option>
              <option value="3">Onsdager</option>
              <option value="4">Torsdager</option>
              <option value="5">Fredager</option>
              <option value="6">Lørdager</option>
              <option value="0">Søndager</option>
          </select>
        </div>
        <div class="pure-u-1-16 set-button">
          <select name="time" class="pure-input-1">
              <option value="00">00:00</option>
              <option value="01">01:00</option>
              <option value="02">02:00</option>
              <option value="03">03:00</option>
              <option value="04">04:00</option>
              <option value="05">05:00</option>
              <option value="06">06:00</option>
              <option value="07">07:00</option>
              <option value="08">08:00</option>
              <option value="09">09:00</option>
              <option value="10">10:00</option>
              <option value="11">11:00</option>
              <option value="12">12:00</option>
              <option value="13">13:00</option>
              <option value="14">14:00</option>
              <option value="15">15:00</option>
              <option value="16">16:00</option>
              <option value="17">17:00</option>
              <option value="18">18:00</option>
              <option value="19">19:00</option>
              <option value="20">20:00</option>
              <option value="21">21:00</option>
              <option value="22">22:00</option>
              <option value="23">23:00</option>
          </select>
        </div>
        <div class="pure-u-1-16 set-button">
          <input type="submit" class="pure-button button-yellow" value="Register abonnement">
        </div>
      </div>
    </form>

    <h2 class="underlined">Velg kanal</h2>
      {{$user := .User}}
      {{$transcoding := .Transcoding}}
      {{range .Channels}}
        <div class="channel">
          <a href="{{$base}}?channel={{.Name}}&transcoding={{$transcoding}}" class="clean-link"><b>{{.Name}}</b></a>
          <a href="{{$base}}?channel={{.Name}}&transcoding={{$transcoding}}" class="pure-button button-green right">Spill av</a>
        </div>
        {{if not .EPGlist}}
        <p>Ingen EPG-data funnet for denne kanalen</p>
        {{else}}
        <table class="pure-table programme-list">
            {{$channel := .}}
            {{range $index, $epg := .EPGlist}}
            <tr class="{{if not $index}}header{{end}} programme">
              <td class="prop">
                <a title="Start opptak av dette programmet" href="{{$base}}record?user={{$user}}&start={{.StartLong}}&stop={{.StopLong}}&title={{.Title}}&channel={{$channel.Name}}&transcode={{$transcoding}}" class="record-button">◉</a>
              </td>
              <td class="prop">{{.Start}}</td>
              <td class="prop">{{.Stop}}</td>
              <td><a class="clean-link" title="Se detaljer" href="#" onclick="toggle(this);return false">{{.Title}}</a></td>
            </tr>
            <tr class="description" style="display:none">
              <td class="prop"></td>
              <td class="prop"></td>
              <td class="prop"></td>
              <td><em>{{.Description}}</em></td>
            </tr>
            {{end}}
        </table>
        {{end}}
      {{end}}
      <br />
  </div>
  </body>
</html>
