<html>
    <head>
    </head>
    <body>
        <select>
            {{range .Programs}}
                <option>{{.}}</option>
            {{end}}
        </select>
        <select>
            <option value="mandag">Mandag</option>
            <option value="tirsdag">Tirsdag</option>
            <option value="onsdag">Onsdag</option>
            <option value="torsdag">Torsdag</option>
            <option value="fredag">Fredag</option>
            <option value="lørdag">Lørdag</option>
            <option value="søndag">Søndag</option>
        </select>
    <body>
</html>
