<h2 class="underlined">VLC web-media player</h2>
<form action="./vlc" class="pure-form">
  <div class="pure-g">
    <div class="pure-u-1-3">
      <input type="text" value="{{.Url}}" name="url" class="pure-input-1">
    </div>
    <div class="pure-u-1-2">
      <input type="submit" value="Endre url" class="pure-button button-yellow set-button">
    </div>
  </div>
</form>
<p></p>
<embed type="application/x-vlc-plugin"
  pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" 
  width="640px" 
  height="360px"
  id="vlc"
  loop="yes"
  autoplay="yes" 
  target="{{.Url}}">
</embed>
<p>
  <b>Tips: </b><em>Dobbel-klikk for å få fullskjerm</em><br />
  <b>Tips: </b><em>Problemer? Prøv å stoppe og starte streamen!</em>
</p>
<p>
  <a href="#" onclick="enableDeinterlace()">Skru på deinterlace med Yadif2x (js)</a>
</p>
<script>
var enableDeinterlace = function() {
  vlc = document.getElementById("vlc");
  vlc.video.deinterlace.enable("yadif2x");
}
</script>
